@use '../Helpers/var';

.contactForm{
    background-color: $darkBlue;
   
    .contactWrapper{
        width: 33%;
        text-align: center;
        padding-bottom: 10vh;
        margin: 6vh;
        .submitbtn{
            text-align: center;
            width: 100%;
            background-color: $blueLighter!important;
            font-weight: bold;
          }
        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 15px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
        
        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
        }
        
        input[type=submit]:hover {
            background-color: #45a049;
        }
        
        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
        label{
            color: white;
            font-size: 1.5em;
            font-weight: light;
        }
        h2{
            color: white;
            font-weight: bold;
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgb(195, 193, 193);
            opacity: 1; /* Firefox */
          }
        
    }
}