

main{
    position: absolute;
    left: 0px;
    width: 100vw;
    .bg-image, .p-5{
        padding: 0px!important;
        margin: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        .mask{
        height: 100%!important;  
        width: 100vw;
        .text-white{
            position: absolute;
            left: 20vw;
        }
        
        
        }
        .btn{
            margin-top: 40px;
            background-color: $darkBlue;
            border-color: $darkBlue;
            padding: 10px 60px 10px 60px;
        }
    }
}


  