

main{
    position: absolute;
    left: 0px;
    width: 100vw;
    .bg-image, .p-5{
        padding: 0px!important;
        margin: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        .mask{
        height: 100%!important;  
        width: 100vw;
        .text-white{
            position: absolute;
            left: 20vw;
        }
        .text-whiteFrontpage{
            position: absolute;
            left: 20vw;
            color: white;
            width: 30vw;
        }
        
        
        }
        .btn{
            margin-top: 40px;
            background-color: $darkBlue;
            border-color: $darkBlue;
            padding: 10px 40px 10px 40px;
        }
    }
    .trustedCaption{
        text-align: center;
        margin-top: 6vh;
        margin-bottom: 6vh;
        font-size: 1em;
    }
}


