@use '../Helpers/var';

.quest{
    margin-top: 20%;
    label{
        display: block;
      
    }
    input[type='radio'] {
        box-sizing: border-box;
        appearance: none;
        background: white;
        outline: 1px solid #333;
        border: 3px solid white;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        margin-right: 10px;
        margin-top: 12px;
      }
      
      input[type='radio']:checked {
        background: #333;
        margin-right: 10px;
        margin-top: 12px;
      }

      button{
        margin-top: 40px;
            background-color: $darkBlue;
            border-color: $darkBlue;
            padding: 10px 60px 10px 60px;
            color: white;
            
      }
     
}