@use '../Helpers/var';

body{
    .container{
        padding: 0px;
    }
    header{
        display: flex;
        font-family: 'excon', sans-serif!important;
        
        
        .navheader{
            display: flex;
            background-color: $blueLight;
            color: white;
            justify-content: center;
            position:relative;
            
                    p{
                margin: 10px;
                text-align: center;
                font-size: 0.8em;
                line-height: 2em;
                color: $darkBlue;

            }

            .text-white{
                width: 100vw;
            }
        }

        .headerbtn{
            border-radius: 20px;
            background-color: black;
            color: white;
            font-size: 0.6em;
            font-weight: bold;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 10px;
            padding-right: 10px;
            border: none;
            position: absolute;
            top: 28%;
            right: 350px;
            line-height: 15px;

            
           
        }
        .navbar{
            top: 10vh;
            position: absolute;
            background-color: white!important;
            margin: auto;
            width: 100vw;
            .container{
                width: 100vw;
                margin-left: auto!important;
                .navbar-brand{
                    width: 10%;
                    
                }
                img{
                    width: 100%;
                    position: relative;
                }
                .btn{
                    margin-left: 10px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 25px;
                    padding-right: 25px;
                    font-size: 0.8em;
                }
                .btnfirst, .btnthree{
                    background-color: #F2F2F2;
                    border-color: #F2F2F2;
                    color: black;
                    font-weight: bold;
                    
                    color: $darkBlue;
                }

                .btnsecond{
                    background-color: $darkBlue;
                    border-color: $darkBlue;
                    color: white;
                    
                }

                .btnthree{
                    background-color: #F2F2F2;
                    border-color: #F2F2F2;
                    color: black;
                    color: $darkBlue;
                   
                }

                .nav-link{
                    color: black;
                    font-size: 0.7em;
                    font-weight: bold;
                    margin-left: 12px;
                    color: $darkBlue;
                }
            }
        }
    }
    
    width: 100vw;
    padding: 0px;
    .app{
        width: 100vw;
        padding: 0px;
        margin: 0px;
    }

    #app{
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 0px;
    }
  
}