
body{
    header{
        display: flex;
        .navheader{
            display: flex;
            background-color: #194FC8;
            color: white;
            justify-content: center;
            
                    p{
                margin: 10px;
                text-align: center;

            }
        }
        .headerbtn{
            margin-top: 3vh;
            border-radius: 20px;
            background-color: black;
            color: white;
            font-size: 0.8em;
            font-weight: bold;
            padding-top: 1px;
            padding-bottom: 3px;
            padding-left: 15px;
            padding-right: 15px;
            height: 40%;
            border: none;
            position: relative;
        }
        .navbar{
            top: 12vh;
            position: absolute;
            background-color: white!important;
            width: 100vw;
            .container{
                width: 100vw;
                margin-left: auto!important;
                
                img{
                    width: 40%;
                }
                .btnfirst{
                    background-color: #F2F2F2;
                    border-color: #F2F2F2;
                    color: black;
                    font-weight: bold;
                }

                .btnsecond{
                    background-color: #194FC8;
                    border-color: #194FC8;
                    color: white;
                    font-weight:lighter;
                }

                .btnthree{
                    background-color: #F2F2F2;
                    border-color: #F2F2F2;
                    color: black;
                    font-weight: bold;
                }

                .nav-link{
                    color: black;
                }
            }
        }
    }
    
    width: 100vw;
    padding: 0px;
    .app{
        width: 100vw;
        padding: 0px;
        margin: 0px;
    }

    #app{
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 0px;
    }
  
}